<div *ngIf="loading" class="loading-indicator">
  <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>


<div  *ngIf="!EmailSent"  class="login-wrapper" fxLayout="column" fxLayoutAlign="center center">
  <img src="/assets/img/logo2.png" fxLayoutAlign="center center" class="img"><br>
    <mat-card class="box">
     
      <mat-card-header>
        <mat-card-title><h3>Forgot Password</h3></mat-card-title>
      </mat-card-header>
  
      <form class="example-form" [formGroup]="forgotpasswordForm" (ngSubmit)="onSubmit(forgotpasswordForm)">
        <mat-card-content>
          
        <mat-form-field field class="example-full-width" color="accent" appearance="outline" ><mat-label>User Id</mat-label>
          <input matInput type="text" name="userid" formControlName="userid" placeholder="Enter User Id"  required >
          <mat-error *ngIf="handleError('userid', 'required')">
            You must provide a <strong>User ID</strong>
          </mat-error>
        </mat-form-field>      
  
        </mat-card-content>
        <button mat-raised-button color="accent" type="submit" [disabled]="!forgotpasswordForm.valid" class="btn-block">Send Email Link</button>
      </form>
    </mat-card>
  
  </div>

  <div *ngIf="EmailSent"  class="login-wrapper1" fxLayout="column" fxLayoutAlign="center center">
<mat-card class="box" >
  <mat-card-header>
    <mat-card-title  fxLayout="row"><mat-icon>check_circle_outline</mat-icon><h3>Password reset link</h3></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="row" >
      <p>We have successfully sent you a password reset link to your Email. Please follow the instructions </p>
    </div>
  </mat-card-content>
</mat-card>
</div>
  
