
<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      
    <mat-toolbar class="tool1"> <div> <img class="image" src="/assets/img/logo2.png"></div></mat-toolbar><br>
<mat-divider></mat-divider>


<div class="userDetails" fxLayout="column" fxLayoutAlign="center center">  
  <h4 *ngIf="userDetails">{{userDetails.userid | titlecase}} </h4>
  <h4 *ngIf="userDetails">Student Id:{{userDetails.studentId}} </h4>
</div>

<mat-divider></mat-divider>
<mat-nav-list>
       <a mat-list-item routerLink="admissionform" routerLinkActive="active-list-item">
        <h2 matLine>Admission Form</h2>
        <mat-icon matListIcon fontSet="material-icons-outlined" class="icon">chrome_reader_mode </mat-icon>
       </a>

       <a mat-list-item routerLink="submittedforms" routerLinkActive="active-list-item">
        <h2 matLine>Settings</h2>
				<mat-icon matListIcon fontSet="material-icons-outlined">settings</mat-icon>
      </a>
           
      <a mat-list-item routerLink="pendingfees" routerLinkActive="active-list-item" >
        <h2 matLine>Pending Fees</h2>
        <mat-icon matListIcon fontSet="material-icons-outlined" class="icon"> money </mat-icon>
      </a>
    
      <a mat-list-item routerLink="paidfees" routerLinkActive="active-list-item">
        <h2 matLine>Paid Fees</h2>
        <mat-icon matListIcon fontSet="material-icons-outlined" class="icon">account_balance_wallet</mat-icon>
      </a>
      
      <a mat-list-item routerLink="paymentsummary" routerLinkActive="active-list-item">
        <h2 matLine>Payment Summary</h2>
        <mat-icon matListIcon fontSet="material-icons-outlined" class="icon">account_balance_wallet</mat-icon>
  
      </a>
      </mat-nav-list>
      <mat-divider></mat-divider>
  
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="tool" >
      <button mat-icon-button type="button" aria-label="Toggle sidenav"(click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
          
          <!-- <img class="img2" src="/assets/img/logo3.png"> -->
          <span class="spacer"></span>
          
                  <!-- <h3 *ngIf="userDetails">{{userDetails.updated_at}}</h3> -->

                
                  <button class="loggeduser" *ngIf="userDetails" mat-stroked-button color="accent" [matMenuTriggerFor]="menu">
                    {{userDetails.userid}}
                  <mat-icon >arrow_drop_down</mat-icon></button>
     
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item routerLink="profile" >
                      <mat-icon>perm_identity</mat-icon>
                      <span>Profile</span>
                    </button>

                    <!-- <button mat-menu-item routerLink="edit-profile" >
                      <mat-icon>edit</mat-icon>
                      <span>Edit</span>
                    </button> -->

                    <button mat-menu-item (click)="onLogout()">
                      <mat-icon>login</mat-icon>
                      <span>Log out</span>
                    </button>
                    
                  </mat-menu>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <router-outlet> </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>



























<!-- <table *ngIf="userDetails" class="table-fill">
  <thead>
      <tr>
          <th colspan="2" class="text-center">User Profile</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>First Name</td>
          <td>{{userDetails.fullName.split(' ')[0]}}</td>
      </tr>
      <tr>
          <td>Last Name</td>
          <td>{{userDetails.fullName.split(' ')[1]}}</td>
      </tr>
      <tr>
          <td>Email</td>
          <td>{{userDetails.email}}</td>
      </tr>
      <tr>
          <td colspan="2" class="text-center">

          </td>
      </tr>
  </tbody>
</table> -->


<!-- <mat-toolbar *ngIf="userDetails" class="navbar" fxLayout="row" >
  <span fxFlex><mat-icon>account_balance</mat-icon>College Name</span>
  <span> Hii  {{userDetails.fullName}}</span>
  <span class="meni-spacer"></span>
  <a mat-button color="accent" *ngIf="!userDetails" routerLink="/login">Home</a>
<a mat-button color="accent" *ngIf="!userDetails" routerLink="/institutelogin">Institute Login</a>

<input type="button" (click)="onLogout()" value="Logout" />
</mat-toolbar> -->
<!-- <input type="button" (click)="onLogout()" value="Logout" /> -->
