


<div class="login-wrapper" fxLayout="column" fxLayoutAlign="center center">
  <img src="/assets/img/logo2.png" fxLayoutAlign="center center" class="img">
  <br>
    <mat-card class="box">
      
      <mat-card-header>
        <mat-card-title><h3>Update Password</h3></mat-card-title>
      </mat-card-header>


     <div *ngIf="CurrentState=='Verified'">
      <form  class="example-form" [formGroup]="resetpasswordForm" (ngSubmit)="onSubmit(resetpasswordForm)">
        <mat-card-content>
          
          <!-- <mat-form-field field class="example-full-width" color="accent" appearance="outline" ><mat-label>Userid</mat-label>
            <input matInput type="text" name="userid" formControlName="userid" placeholder="Enter New Password"  required >
            <mat-error *ngIf="handleError('userid', 'required')">
              You must provide a <strong>Userid</strong>
            </mat-error>
          </mat-form-field> -->

        <mat-form-field field class="example-full-width" color="accent" appearance="outline" ><mat-label>New Password</mat-label>
          <input matInput type="text" name="password" formControlName="password" placeholder="Enter New Password" minlength="8"  required >
          <mat-error *ngIf="handleError('password', 'required')">You must provide a <strong>Password</strong></mat-error>
          <mat-error *ngIf="handleError('password', 'minlength')">You must provide a <strong>Password</strong></mat-error>
        </mat-form-field>      
  
        </mat-card-content>
        <button mat-raised-button color="accent" type="submit" [disabled]="!resetpasswordForm.valid" class="btn-block">Update Password</button>
      </form>
     </div>
    </mat-card>
  
  </div>
  
  <div class="row"
  *ngIf="CurrentState=='NotVerified'">
  <div class="col-md-12">
      <h2> Invalid URL.</h2>
  </div>
  
</div>
  <div class="row" *ngIf="CurrentState=='Wait'">
    <div class="col-md-12  close-form">
        <h2> Please Wait...</h2>
    </div>
</div>